/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {

  /*========== Colors ==========*/
  --body-color: hsl(216deg 6.17% 15.88%);
  --player-color: linear-gradient(180deg, hsl(213, 10%, 23%) 0%, hsl(216, 9%, 10%) 100%);
  --image-border-bg: linear-gradient(to bottom right, hsl(207, 10%, 17%), hsl(240, 2%, 8%));
  --wrapper-border-bg: linear-gradient(to bottom, hsl(216, 10%, 29%), hsl(210, 8%, 15%));
  --bg02: linear-gradient(135deg, var(--box-shadow-color09), var(--box-shadow-color04));
  --bg03: linear-gradient(135deg, var(--box-shadow-color09), var(--box-shadow-color04));
  --bg04: hsl(0, 0%, 2%);
  --bg05: hsl(20, 91%, 46%);
  --bg06: hsl(6, 84%, 41%);
  --text-color-light: hsl(210, 2%, 66%);
  --text-color: hsl(210, 3%, 54%);
  --text-color-dark: hsl(225, 2%, 49%);
  --text-color-white: hsl(0, 0%, 100%);

  /*========== Borders ==========*/
  --border01: hsl(213, 12%, 18%);
  --border02: hsl(214, 12%, 12%);
  --border03: hsl(6, 84%, 40%);
  --border04: hsl(20, 91%, 47%);

  /*========== Box Shadow ==========*/

  --box-shadow-color01: hsl(204, 7%, 14%);
  --box-shadow-color02: hsl(212, 9%, 27%);
  --box-shadow-color03: hsl(225, 7%, 22%);
  --box-shadow-color04: hsl(220, 9%, 13%);
  --box-shadow-color05: hsl(240, 2%, 10%);
  --box-shadow-color06: hsl(210, 12%, 16%);
  --box-shadow-color07: hsl(240, 2%, 9%);
  --box-shadow-color08: hsl(220, 7%, 9%);
  --box-shadow-color09: hsl(210, 10%, 19%);

  --box-shadow01:
    6px 6px 10px var(--box-shadow-color01),
    -6px -6px 10px var(--box-shadow-color02),
    inset 2px 2px 6px var(--box-shadow-color03),
    inset -3px -3px 6px var(--box-shadow-color04);

  --box-shadow02:
    6px 6px 10px var(--box-shadow-color01),
    -6px -6px 10px var(--box-shadow-color02),
    inset -4px -4px 8px var(--box-shadow-color03),
    inset 4px 4px 8px var(--box-shadow-color04);

  --box-shadow03:
    10px 10px 20px var(--box-shadow-color05),
    -10px -10px 20px var(--box-shadow-color02);

  --box-shadow04:
    inset 2px 2px 3px -2px hsla(210, 2%, 66%, 0.322),
    inset 0px -1px 1px 0px hsl(210, 3%, 30%);

  --box-shadow05:
    8px 8px 12px var(--box-shadow-color08),
    -2px -2px 10px var(--box-shadow-color09),
    inset 2px 2px 3px var(--box-shadow-color03),
    inset -2px -2px 3px var(--box-shadow-color08);

  --box-shadow06:
    10px 10px 12px var(--box-shadow-color07),
    -10px -10px 12px var(--box-shadow-color06),
    inset 4px 4px 8px var(--box-shadow-color03),
    inset -4px -4px 8px var(--box-shadow-color04);

  --box-shadow07:
    10px 10px 12px var(--box-shadow-color07),
    -10px -10px 12px var(--box-shadow-color06),
    inset -4px -4px 8px var(--box-shadow-color03),
    inset 4px 4px 8px var(--box-shadow-color04);

  /*========== Font and typography ==========*/

  --body-font: "Lato", sans-serif;
  --biggest-font-size: 5rem;
  /* 80px */
  --bigger-font-size: 3.5rem;
  /* 56px */
  --big-font-size: 1.5rem;
  /* 24px */
  --h2-font-size: 1.25rem;
  /* 20px */
  --h3-font-size: 1.125rem;
  /* 18px */
  --normal-font-size: 0.938rem;
  /* 15px */
  --small-font-size: 0.813rem;
  /* 13px */
  --smaller-font-size: 0.75rem;
  /* 12px */
  --text-line-height: 2rem;
  /* 32px */

  /*========== Margenes ==========*/
  --m-0-5: 0.5rem;
  /* 8px */
  --m-0-75: 0.75rem;
  /* 12px */
  --m-1: 1rem;
  /* 16px */
  --m-1-5: 1.5rem;
  /* 24px */
  --m-2: 2rem;
  /* 32px */
  --m-2-5: 2.5rem;
  /* 40px */
  --m-3: 3rem;
  /* 48px */
  --m-3-5: 3.5rem;
  /* 56px */

  /*========== Padding ==========*/
  --p-0-5: 0.5rem;
  /* 8px */
  --p-0-75: 0.75rem;
  /* 12px */
  --p-1: 1rem;
  /* 16px */
  --p-1-5: 1.5rem;
  /* 24px */
  --p-2: 2rem;
  /* 32px */
  --p-2-5: 2.5rem;
  /* 40px */

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}

/*=============== MEDIA QUERIES ===============*/
@media screen and (max-width: 362px) {
  :root {
    --big-font-size: 1.5rem;
    --h2-font-size: 1rem;
    --normal-font-size: 1.2rem;
    --small-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
  color: var(--text-color);
}

body {
  background: var(--body-color);
  width: 100%;
  display: grid;
  place-content: center;
  overflow: hidden;
  min-height: calc(var(--vh, 1vh) * 100);
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

/*=============== WRAPPER ===============*/
.wrapper {
  min-width: 350px;
  max-width: 350px;
  text-align: center;
  padding: var(--p-2);
  overflow: hidden;
  background: var(--player-color);
  border-radius: 3rem;
}

.wrapper-border {
  overflow: hidden;
  position: relative;
  background: var(--wrapper-border-bg);
  padding: 2px;
  border-radius: 3.2rem;
  display: grid;
  place-content: center;
  box-shadow: var(--box-shadow06);
}

/*=============== HEADER ===============*/
.header .hdbtn {
  background: var(--bg02);
  border: 2px solid var(--border01);
  box-shadow: var(--box-shadow01);
  width: 2.5rem;
  height: 2.5rem;
  font-size: var(--h2-font-size);
  border-radius: 50%;
  transition: all 0.3s ease;
  line-height: 3.5rem;
}

.hdbtn:active {
  box-shadow: var(--box-shadow02);
}

.hdbtn:active i {
  transform: scale(0.90);
  transition: all 0.2s ease;
}

.hdbtn i {
  transition: all 0.2s ease;
}

.header h3 {
  text-transform: uppercase;
  font-size: var(--small-font-size);
}

/*=============== PLAYER ===============*/
.player {
  margin-top: var(--m-2);
}

/*=============== IMG AREA ===============*/

.img-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  object-fit: cover;
}

.img-border {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  position: relative;
  background: var(--image-border-bg);
  margin-bottom: var(--m-2-5);
  padding: 5px;
  overflow: hidden;
  display: grid;
  place-content: center;
  box-shadow: var(--box-shadow03);
}

/*=============== SONG DETAILS ===============*/

.name {
  color: var(--text-color-light);
  font-size: var(--big-font-size);
  text-transform: capitalize;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artist {
  color: var(--text-color-dark);
  font-size: var(--normal-font-size);
  text-transform: capitalize;
  padding: var(--p-0-75) 0 0 0;
}

/*=============== AUDIO C ===============*/
.audioC {
  margin-top: var(--m-2);
}

.song-timer {
  margin-bottom: var(--m-1-5);
}

.song-timer span {
  font-size: var(--small-font-size);
  color: var(--text-color-dark);
  font-weight: var(--font-medium);
}

.progress-area {
  height: 7px;
  width: 100%;
  display: flex;
  margin-top: var(--m-1);
  align-items: center;
  border-radius: 50px;
  background: var(--bg04);
  box-shadow: var(--box-shadow04);
  cursor: pointer;
  position: relative;
}

.progress-area::before {
  content: "";
  padding-inline: 20px;
  position: absolute;
  height: 30px;
  border-radius: inherit;
  z-index: 2;
  inset: 0 -15px 0 -15px;
  margin: auto;
}

.progress-bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: linear-gradient(90deg, var(--bg06) 0%, var(--bg05) 80%);
}

.progress-bar::before {
  content: "";
  position: absolute;
  background: var(--bg02);
  box-shadow: var(--box-shadow05);
  border-radius: 50%;
  top: 50%;
  right: -14px;
  z-index: 2;
  width: 28px;
  height: 28px;
  outline: none;
  border: none;
  pointer-events: none;
  transform: translate(0, -50%);
  transition: all 0.2s ease;
}

.progress-bar::after {
  content: "";
  position: absolute;
  background: var(--bg05);
  border-radius: 50%;
  top: 50%;
  right: -4px;
  z-index: 2;
  width: 8px;
  height: 8px;
  outline: none;
  border: none;
  pointer-events: none;
  transform: translate(0, -50%);
  transition: all 0.2s ease;
}

/*=============== CONTROLS ===============*/

.controls {
  margin: var(--m-3-5) var(--m-0-5) var(--m-0-5) var(--m-0-5);
}

.btnC {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: var(--bg03);
  box-shadow: var(--box-shadow06);
  border: 3px solid var(--border02);
  transition: all 0.2s ease;
}

.btnC:active i {
  transform: scale(0.90);
  transition: all 0.2s ease;
}

.btnC:active {
  box-shadow: var(--box-shadow07);
}

.controls i {
  font-size: var(--h2-font-size);
  color: var(--text-color);
  user-select: none;
  transition: all 0.2s ease;
}

.controls .play-pause {
  width: 5rem;
  height: 5rem;
}

.play-pause i {
  color: var(--text-color-white);
}

.play-pause {
  border: 3px solid var(--border03);
  background: linear-gradient(135deg, var(--border03), var(--border04));
  box-shadow:
    10px 10px 12px var(--box-shadow-color08),
    -10px -10px 12px var(--box-shadow-color09),
    inset 4px 4px 8px var(--border04),
    inset -4px -4px 8px var(--border03);
}

.play-pause:active {
  box-shadow:
    10px 10px 12px var(--box-shadow-color08),
    -10px -10px 12px var(--box-shadow-color09),
    inset -10px 10px 12px var(--border04),
    inset 10px 10px 8px var(--border03);
}


img {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

/*=============== MEDIA QUERIES ===============*/

/* For small devices */
@media screen and (max-width: 400px) {

  .wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    min-width: 100vw;
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    padding: var(--p-1)
  }

  .wrapper-border {
    border-radius: 0;
  }

  .player {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  img {
    width: 11rem;
    height: 11rem;
  }

  .img-border {
    width: 12rem;
    height: 12rem;
  }

  .btnC {
    width: 3rem;
    height: 3rem;
  }

  .audioC {
    margin-inline: 1rem;
  }

  .controls {
    margin-bottom: 3rem;
  }
}

/* For medium devices */

@media screen and (min-width: 400px) and (max-width: 1200px) {
  .wrapper {
    height: calc(var(--vh, 1vh) * 90);
    max-height: calc(var(--vh, 1vh) * 90);
    min-width: 90vw;
    display: flex;
    flex-direction: column;
  }

  img {
    width: 11rem;
    height: 11rem;
  }

  .img-border {
    width: 12rem;
    height: 12rem;
    margin-bottom: 0;
  }

  .player__song {
    display: grid;
    grid-template-columns: 14rem max-content;
    overflow: hidden;
  }

  .player {
    margin-top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .player__song {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    position: relative;
  }

  .song-details {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  .audioC {
    margin-top: 0;
  }
}


/* For large devices */

/*=============== THEMES ===============*/

:root {
  .light-theme {
    /*========== Colors ==========*/
    --body-color: #D3E1F7;
    --player-color: linear-gradient(180deg, #DFE9FD 0%, #ECF4FD 100%);
    --image-border-bg: linear-gradient(to bottom right, #E4EDFE, #B9C7D8);
    --wrapper-border-bg: linear-gradient(to bottom, #E6EEFD, #DAE6F3);
    --bg02: linear-gradient(135deg, var(--box-shadow-color09), var(--box-shadow-color04));
    --bg03: linear-gradient(135deg, var(--box-shadow-color09), var(--box-shadow-color04));
    --bg04: #E4EDFA;
    --bg05: rgb(180, 200, 234);
    --bg06: #779DFF;
    --text-color-light: #6C7A92;
    --text-color: #A3B2CB;
    --text-color-dark: #9FAEC3;
    --text-color-white: hsl(0, 0%, 100%);

    /*========== Borders ==========*/
    --border01: #DAE3F1;
    --border02: #DAE2F0;
    --border03: #738EF5;
    --border04: #547CFF;

    /*========== Box Shadow ==========*/

    --box-shadow-color01: #B6C5DC;
    --box-shadow-color02: #F5FEFF;
    --box-shadow-color03: #EDF9FF;
    --box-shadow-color04: #DEE7F5;
    --box-shadow-color05: #F1FBFF;
    --box-shadow-color06: #F1FBFF;
    --box-shadow-color07: #C7D4E7;
    --box-shadow-color08: #C7D4E7;
    --box-shadow-color09: #EDF9FF;


    --box-shadow01:
      6px 6px 10px var(--box-shadow-color01),
      -6px -6px 10px var(--box-shadow-color02),
      inset 2px 2px 6px var(--box-shadow-color03),
      inset -3px -3px 6px var(--box-shadow-color04);

    --box-shadow02:
      6px 6px 10px var(--box-shadow-color01),
      -6px -6px 10px var(--box-shadow-color02),
      inset -4px -4px 8px var(--box-shadow-color03),
      inset 4px 4px 8px var(--box-shadow-color04);

    --box-shadow03:
      10px 10px 20px var(--box-shadow-color05),
      -10px -10px 20px var(--box-shadow-color02);

    --box-shadow04:
      inset 7px 5px 3px -2px hsl(210deg 49.37% 84.31% / 66%),
      inset 0px -1px 1px 0px hsl(210deg 32.08% 78.66%);

    --box-shadow05:
      8px 8px 12px var(--box-shadow-color08),
      -2px -2px 10px var(--box-shadow-color09),
      inset 2px 2px 3px var(--box-shadow-color03),
      inset -2px -2px 3px var(--box-shadow-color08);

    --box-shadow06:
      10px 10px 12px var(--box-shadow-color07),
      -10px -10px 12px var(--box-shadow-color06),
      inset 4px 4px 8px var(--box-shadow-color03),
      inset -4px -4px 8px var(--box-shadow-color04);

    --box-shadow07:
      10px 10px 12px var(--box-shadow-color07),
      -10px -10px 12px var(--box-shadow-color06),
      inset -4px -4px 8px var(--box-shadow-color03),
      inset 4px 4px 8px var(--box-shadow-color04);

  }
}